In [1]:
l = [1,2,3,4,5]
t = tuple(l)
print(t)

(1, 2, 3, 4, 5)

### 2. Write a Python program to create a tuple with different data types

In [2]:
l = [1,'a',[3,4,5],2]
t = tuple(l)
print(t)

(1, 'a', [3, 4, 5], 2)

### 3. Write a Python program to create a tuple of numbers and print one item.

In [3]:
t = (1, 2, 3, 4, 5)
print(t[2])

3

### 4. Write a Python program to unpack a tuple into several variables.

In [4]:
t1 = (1,2)
v1, v2 = t1
print(v1,v2)

1 2

### 5. Write a Python program to add an item to a tuple.

In [5]:
t1 = (5, 7, 8)
t1.add(45) # Not possible tuple is immutable

AttributeError: 'tuple' object has no attribute 'add'

### 6. Write a Python program to convert a tuple to a string.

In [6]:
t1=(2,3,4)
str((2,3,4))

'(2, 3, 4)'

In [7]:
t2 = ('I','A','c')
"".join(t2)

'IAc'

### 7. Write a Python program to get the 4th element from the last element of a tuple.

In [8]:
t1=(2,3,4,5,8,2)
t1[-4]

4

### 9. Write a Python program to find repeated items in a tuple.

In [9]:
t1 = (4,6,3,2,4,7,8,5,7,0)
for e1 in set(t1):
    if t1.count(e1) > 1:
        print("repeated elem", e1)

repeated elem 4
repeated elem 7

In [43]:
repeated_set = set()
for e1 in set(t1):
    if e2 in t1:
        if(e1 == e2) and e1 not in repeated_set:
            repeated_set.add(e1)

print("repeated elem", e1)

repeated elem 4

### 10. Write a Python program to check whether an element exists within a tuple.

In [11]:
t1 = (4,6,3,2,4,7,8,5,7,0)
num = int(input())
if num in t1:
    print(num, "present in t1")
else:
    print("not present")

 4

4 present in t1

### 11. Write a Python program to convert a list to a tuple.

In [12]:
s2 = ["Blue", "Green", "Red","Yellow","Orange"]
tuple(s2)

('Blue', 'Green', 'Red', 'Yellow', 'Orange')

### 12. Write a Python program to remove an item from a tuple.

In [13]:
# ERROR  immutable

### 13. Write a Python program to slice a tuple.

In [14]:
S1 = ('Blue', 'Green', 'Red', 'Yellow', 'Orange')
S1[2:]

('Red', 'Yellow', 'Orange')

### 14. Write a Python program to find the index of an item in a tuple.

In [15]:
S1 = ('Blue', 'Green', 'Red', 'Yellow', 'Orange')
S1.index('Orange')

4

### 15. Write a Python program to find the length of a tuple.

In [16]:
S1 = ('Blue', 'Green', 'Red', 'Yellow', 'Orange')
len(S1)

5

### 16. Write a Python program to convert a tuple to a dictionary.

In [17]:
S1 = ('Blue', 'Green', 'Red', 'Yellow', 'Orange')
S2 = [1,2,3,4,5]
for e1,e2 in zip(S1,S2):
    print(e1,e2)
#Not Possible

Blue 1
Green 2
Red 3
Yellow 4
Orange 5

### 17. Write a Python program to unzip a list of tuples into individual lists.

In [18]:
list_of_tuple = [(1,2),(3,4),(5,6)]
for tup in list_of_tuple:
    print(list(tup))

[1, 2]
[3, 4]
[5, 6]

### 18. Write a Python program to reverse a tuple.

In [19]:
t1 = (1,2,3,4)
print(t1[::-1], tuple(reversed(t1)))

(4, 3, 2, 1) (4, 3, 2, 1)

### 19. Write a Python program to convert a list of tuples into a dictionary.

In [20]:
t1  = [(1,'a'),(2,'f'),(3,'s')]
dict(t1)

{1: 'a', 2: 'f', 3: 's'}

### 20. Write a Python program to print a tuple with string formatting.

In [21]:
Sample = (100, 200, 300)

str(Sample)

'(100, 200, 300)'

### 21. Write a Python program to replace the last value of tuples in a list.

In [22]:
Sample = (100, 200, 300)
tuple((*Sample[:2],4))

(100, 200, 4)

### 22. Write a Python program to remove an empty tuple(s) from a list of tuples.

In [23]:
l1 =  [(), (), ('',), ('a', 'b'), ('a', 'b', 'c'), ('d')]
# for tup in l1:
#     if(len(tup) == 0):
#         l1.remove(tup)
# print(l1)
l1 = [t for t in l1 if len(t) != 0]
print(l1)

[('',), ('a', 'b'), ('a', 'b', 'c'), 'd']

### 23. Write a Python program to sort a tuple by its float element.

In [24]:
l = [('item1', 12.20), ('item2', 15.10), ('item3', 24.5)]
l1 = [t[1] for t in l]
l1.sort(reverse=True)
print(l1)
l2 = [()]*len(l1)
for tup in l:
    idx = l1.index(tup[1])
    l2[idx] = tup
print(l2)

[24.5, 15.1, 12.2]
[('item3', 24.5), ('item2', 15.1), ('item1', 12.2)]

### 24. Write a Python program to count the elements in a list until an element is a tuple.

In [25]:
l1 = [1,3,4,'cuh','sia',(3,2,3),6,8]
count = 0
for i in l1:
    if(type(i) == tuple):
        break
    count+=1
print(count)

5

### 25. Write a Python program to convert a given string list to a tuple.

In [26]:
"""Original string: python 3.0
<class 'str'>
Convert the said string to a tuple:
('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')
<class 'tuple'>"""

"Original string: python 3.0\n<class 'str'>\nConvert the said string to a tuple:\n('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')\n<class 'tuple'>"

In [27]:
s = "python 3.0"
tuple(s)

('p', 'y', 't', 'h', 'o', 'n', ' ', '3', '.', '0')

### 26. Write a Python program to calculate the product, multiplying all the numbers in a given tuple.

In [28]:
tup = (4, 3, 2, 2, -1, 18)
tup2 = (2, 4, 8, 8, 3, 2, 9)

prod = 1
for i in tup2:
    prod = prod * i
print(prod)

27648

In [29]:
tup = (4, 3, 2, 2, -1, 18)
l1 = [e for e in tup if e%2 == 0 ]
print(l1)

[4, 2, 2, 18]

### 27. Write a Python program to calculate the average value of the numbers in a given tuple of tuples.

In [30]:
tup = ((10, 10, 10, 12), (30, 45, 56, 45), (81, 80, 39, 32), (1, 2, 3, 4))
for i in tup:
    add = 0
    for j in i:
        add = add+j
       # print(add)
    print(add/len(i))

10.5
44.0
58.0
2.5

### 28. Write a Python program to convert a tuple of string values to a tuple of integer values.

In [31]:
# tup = (('333', '33'), ('1416', '55'))
# l1 = []
# l2 = []
# #l1 = list(tup)
# for i in tup:
#     print(i)

#     i = list(i)
#     l1.append(i)
#     # for ele in l1:
#     #     ele = int(ele)
# for i in l1:
#     for j in i:
#         #print(type(j))
#         j = int(j)
#         #print(type(j))
#         i.append(j)
        
# print(l1)
# print(l2)

In [41]:
tup = (('333', '33'), ('1416', '55'))
tupl = [[int(i) for i in j]for j in tup]
#print(tupl)
d =[]
for i in tupl:
    d.append(tuple(i))
d= tuple(d)
print(d)

((333, 33), (1416, 55))

In [34]:
l1 = [1,2,3,4,5]
l1 = tuple(l1)
print(l1)

(1, 2, 3, 4, 5)

### 29. Write a Python program to convert a given tuple of positive integers into an integer.

(1, 2, 3)
Convert the said tuple of positive integers into an integer:
123
Original tuple:
(10, 20, 40, 5, 70)
Convert the said tuple of positive integers into an integer:
102040570

In [35]:
t = (1,2,3)
string = ""
for i in t:
    i = str(i)
    string = string + i
string = int(string)
print(string)

123

### 30. Write a Python program to check if a specified element appears in a tuple of tuples.

(('Red', 'White', 'Blue'), ('Green', 'Pink', 'Purple'), ('Orange', 'Yellow', 'Lime'))
Check if White presenet in said tuple of tuples!
True
Check if White presenet in said tuple of tuples!
True
Check if Olive presenet in said tuple of tuples!
False

In [36]:
t = (('Red', 'White', 'Blue'), ('Green', 'Pink', 'Purple'), ('Orange', 'Yellow', 'Lime'))
check = input("Enter name : ")
found = False
for i in t:
    for j in i:
        if j == check:
            found = True
            print(found)
if(found == False):
    print(found)

Enter name :  Yellow

True

### 31. Write a Python program to compute the element-wise sum of given tuples.

Original lists:
(1, 2, 3, 4)
(3, 5, 2, 1)
(2, 2, 3, 1)
Element-wise sum of the said tuples:
(6, 9, 8, 6)

In [37]:
t1 = (1, 2, 3, 4)
t2 = (3, 5, 2, 1)
t3 = (2, 2, 3, 1)
l1 = []
for i,e,f in zip(t1,t2,t3):
    sum = i+e+f
    l1.append(sum)
tup = tuple(l1)
print(tup)

(6, 9, 8, 6)

### 32. Write a Python program to compute the sum of all the elements of each tuple stored inside a list of tuples.

Original list of tuples:
[(1, 2), (2, 3), (3, 4)]
Sum of all the elements of each tuple stored inside the said list of tuples:
[3, 5, 7]
Original list of tuples:
[(1, 2, 6), (2, 3, -6), (3, 4), (2, 2, 2, 2)]
Sum of all the elements of each tuple stored inside the said list of tuples:
[9, -1, 7, 8]

In [38]:
t = [(1, 2), (2, 3), (3, 4)]
l1 = []
for i in t:
    sum = 0
    for j in i:
        sum = sum +j
    l1.append(sum)
print(l1)

[3, 5, 7]

### 33. Write a Python program to convert a given list of tuples to a list of lists.

Original list of tuples: [(1, 2), (2, 3), (3, 4)]
Convert the said list of tuples to a list of lists: [[1, 2], [2, 3], [3, 4]]
Original list of tuples: [(1, 2), (2, 3, 5), (3, 4), (2, 3, 4, 2)]
Convert the said list of tuples to a list of lists: [[1, 2], [2, 3, 5], [3, 4], [2, 3, 4, 2]]

In [39]:
t = [(1, 2), (2, 3), (3, 4)]
t = [list(i) for i in t]
print(t)

[[1, 2], [2, 3], [3, 4]]

###